{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <h1>Admin</h1>

  <form action="/admin" method="post">
    <label for="admin-id">
      <input name='admin-id' type="text" placeholder="New Admin">
    </label>
    <input type="submit" value="Add Admin">
  </form>

  <ul>
    {% for admin in admins %}
      <li>{{ admin }}</li>
    {% endfor %}
  </ul>
{% endblock %}